body,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

#wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

nav {
    flex: 0 100px;
    background-color: coral;
    padding: 1rem;
}

.main {
    flex: 1;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.logo-wrapper a {
    text-decoration: none;
}

.logo-wrapper {
    margin-bottom: 1rem;
}

section {
    flex: 1;
    background-color: aqua;
    padding: 1rem;
}
aside {
    display: none;
    background-color: blueviolet;
    padding: 1rem;
}
/* component styles */
.card-container {
    display: flex;
}
.card {
    display: flex;
    flex: 1;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    #wrapper {
        flex-direction: row;
    }
    aside {
        flex: 0 1 250px;
        display: block;
    }
}

@media screen and (min-width:992px) {
    
}

@media screen and (min-width:1200px) {
    
}