@import 'partials/variables.scss';
@import 'partials/card.scss';
@import 'partials/nav.scss';
@import 'pages/profile.scss';
@import 'partials/table.scss';

body,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #676a6c;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    flex: 1;
    background-color: #f3f3f4;
}

.section-header {
    margin: 2rem 0 1rem;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid $lightgrey;
    h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
}
.highcharts-container {
    width: 100% !important;
}
.headline-container {
    margin: 0 1rem 1rem;
    p {
        margin: 2rem 4rem;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
    }
}

.highlight {
    color: #1ab394;
}
/* rules page stlyes */
.rules-container {
    display: flex;
    flex-direction: column;
    .card-wrappers {
        padding: 0 1rem 1rem;
    }
    h2 {
        margin-bottom: 1rem;
    }
    .card {
        padding: 1rem;
        p {
            padding: 0 0 1rem;
            span {
                font-weight: bold;
                font-size: 1.2rem;
                text-transform: capitalize;
            }
        }
    }
    .card-item {
        border-bottom: 1px solid $lightgrey;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* component styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    #wrapper {
        flex-direction: row;
    }    
}

@media screen and (min-width:992px) {
    .rules-container {
        flex-direction: row;
    }
    .scoring {
        padding: 0 1rem 1rem;
        flex: 1 0 60%;
    }
    .counts {
        padding: 0 1rem 1rem;
        flex: 1 0 40%;
    }
}

@media screen and (min-width:1200px) {
    
}