<div class="card-wrapper">
    <div class="card">
        <div class="title">
            <h3>{{@team.name}}</h3>
            <div class="badge top">Top Week </div>
        </div>
        
        <ul>
            {{#each @team.user as |user|}}
            <li><LinkTo @route="profile" @model={{user}}>{{user.firstname}} {{user.lastname}}</LinkTo></li>
            {{/each}}
        </ul>
    </div>
</div>
