<div class="card-wrapper">
    <div class="card">
        <div class="title">
            <h3>{{@team.name}}</h3>
            <div class="badge top">Top Week </div>
        </div>
        
        <ul>
            {{#each @team.user as |user|}}
            <li><a href="#">{{user.firstname}} {{user.lastname}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
