 <div class="entry-box">
    <div class="header">
        <p>{{@box.name}}</p>
    </div>
    <div class="input-section">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
</div>