{{yield}}
<nav class="menu">
    <div class="logo-wrapper">
        <LinkTo @route="index"><h1>FitnessApp</h1></LinkTo>
    </div>
    
    <ul class="link">
        <li><LinkTo @route="home">Home</LinkTo></li>
        <li><LinkTo @route="leaderboard">LeaderBoard</LinkTo></li>
        <li><LinkTo @route="rules">Rules</LinkTo></li>
    </ul>
</nav>