{{yield}}
<nav class="menu">
    <div class="logo-wrapper">
        <LinkTo @route="home">Fitnes</LinkTo>
    </div>
    
    <ul class="link">
        <li><LinkTo @route="home">Home</LinkTo></li>
        <li><LinkTo @route="leaderboard">LB</LinkTo></li>
        <li><LinkTo @route="rules">Rules</LinkTo></li>
    </ul>
</nav>