nav {
    flex: 0 220px;
    background-color: $navbkg;
    a {
        color: white;
    }
    .link-list {
        li a{
            padding: 1rem;
            display: block;
            font-weight: 700;
            font-size: .81rem;
            &:hover {
                background-color: #293846;
            }
        }
    }
}

.logo-wrapper {
    margin: 1rem 0;
    padding: 0 1rem;
    .profile-details {
        height: 75px;
        width: 75px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }
}