<section>
    <div class="section-header">
        <h1>Home Page</h1>
    <p>Listen up, it's game time, and you're doing it for one of the greats. So show some respect. Support your team to hit 500 points in 5 weeks, that's 100 points each. Just hit the targets each week,  and you'll be fine.
</p>
    </div>

    <!--Container Component-->
    <div class="card-container">
        {{#each @model as |team|}}
            <Card @card={{team}} />
        {{/each}}
    </div>
    
</section>