<section>
    <div class="section-header">
        <h1>Leaderboard</h1>
    </div>
    
    <Leaderboardtable @table={{@model}} />
    {{#each @model as |team|}}
        <Teamtable @team={{team}} />
    {{/each}}
</section>