<section>
    <div class="section-header">
        <h1>Point Entry</h1>
    </div>

    <div class="point-container">
        <div class="entry-totals">
            test
        </div>
        <div class="box-container">
            {{#each @model as |day|}}
                <Entry-Box @box={{day}} />
            {{/each}}
        </div>
    </div>
</section>