<section>
    <div class="section-header">
        <h1>Profile</h1>
    </div>

    <div class="profile-container">
        <div class="profile-wrapper profile">
            <div class="card">
                <h2>Profile detail</h2>
                <div class="image-container" style="background-image: url(/assets/img/user.jpg);"></div>
                <h2>Monica Smite</h2>
                <h3>Toronto, On</h3>
                <h2>About me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            </div>
        </div>
        <div class="profile-wrapper details">
            <div class="card">
                <Chart />
            </div>
        </div>
    </div>
</section>