<section>
    <h1>Rules</h1>
    <h2>Scoring</h2>
    <p><span>push-ups</span> Enter the number of pushups you did in the cell, not the point total. Points can rollover day over day but not week over week. Ex. you can do 40 pushups on Monday and 60 on Tuesday and it will count as 2 points.</p>
    <p><span>flower</span> Grammy nominated artist Moby created a song titled Flower that you will no longer be able to enjoy because it will remind you of your burning loins. 3.5 minute song, every time Moby says ‘down’, you go into a squat and hold it until he says ‘up’. 1 point per.</p>
    <p><span>abs</span> Complete an Ab workout to receive 1 point. Minimum of 5 minutes of activity. Equivalent of 75 sit ups. Enter in your point total, not the number of sit-ups.</p>
    <h2>what counts?</h2>
    
</section>