<section>
    <div class="section-header">
        <h1>Rules</h1>
    </div>

    <div class="rules-container">
        <div class="card-wrappers scoring">
            <div class="card ">
                <h2>Scoring</h2>
                <p><span>push-ups</span> Enter the number of pushups you did in the cell, not the point total. Points can rollover day over day but not week over week. Ex. you can do 40 pushups on Monday and 60 on Tuesday and it will count as 2 points.</p>
                <p><span>flower</span> Grammy nominated artist Moby created a song titled Flower that you will no longer be able to enjoy because it will remind you of your burning loins. 3.5 minute song, every time Moby says ‘down’, you go into a squat and hold it until he says ‘up’. 1 point per.</p>
                <p><span>abs</span> Complete an Ab workout to receive 1 point. Minimum of 5 minutes of activity. Equivalent of 75 sit ups. Enter in your point total, not the number of sit-ups.</p>
                <p><span>distance</span> Similar to push-ups, points can rollover day over day but not week over week. Enter in the distance travelled as a comparison to running. Ex.  6 km biking would equal  2  km runnning, enter in 2.</p>
                <p><span>gym sesh</span> Going to the gym, a workout class, or an athletic activity (ie. playing hockey or ballin).</p>
                <p><span>meditation</span>10 min = 1 point. Shut down, shut off, get comfortable and focus on your breathing.</p>
            </div>
        </div>
        
        <div class="card-wrappers counts">
            <div class="card">
                <h2>what counts?</h2>
                <div class="card-item">
                    <p>50 pushups, 50 tricep dips, 15 pullups, 25 burpees</p>
                </div>
                <div class="card-item">
                    <p>Flower workout, 100 squat challenge</p>
                </div>
                <div class="card-item">
                    <p>75 situps, ab video (5-10 mins). Ab ripper x = 2 points</p>
                </div>
                <div class="card-item">
                    <p>2km running, 2km elliptical, 6km of biking, 5 mins of skipping</p>
                </div>
                <div class="card-item">
                    <p>Workout class, yoga class, playing sports, going to the gym</p>
                </div>
                <div class="card-item">
                    <p>Guided meditation options</p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
</section>