<section>
    <div class="section-header">
        <h1>Category Totals</h1>
    </div>

    <div class="headline-container">
        <div class="card">
            <p><span class="highlight">Listen up, it's game time!</span> and you're doing it for one of the greats. So show some respect. Support your team to hit 500 points in 5 weeks, that's 100 points each. Just hit the targets each week,  and you'll be fine.
</p>
        </div>
    </div>
    <!--Container Component-->
    <div class="total-container">
        <h3 class="totals-headline">Team Categiory Leaders</h3>
        <div class="container">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Pushup totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Flower totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Ab totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>

    <div class="total-container">
        <h3 class="totals-headline">Individual Categiory Leaders</h3>
        <div class="container">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Pushup totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Flower totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Ab totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gigi #Girldad</td>
                            <td>9995</td>
                        </tr>
                        <tr>
                            <td>Mamba</td>
                            <td>5195</td>
                        </tr>
                        <tr>
                            <td>Young Guns</td>
                            <td>5080</td>
                        </tr>
                        <tr>
                            <td>Steamers</td>
                            <td>4750</td>
                        </tr>
                        <tr>
                            <td>Wreckers</td>
                            <td>4005</td>
                        </tr>
                        <tr>
                            <td>Dragons</td>
                            <td>1481</td>
                        </tr>
                        <tr>
                            <td>Grand Total</td>
                            <td>30106</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
</section>